*{
    font-family: arial;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
}
#total{
    margin: auto;
    width: 1300px;
}
#topo{
    height: 140px;
    padding-top: 10px;
    background-color: gray;
}
#banner{
    height: 400px;
    background-color: darkslategray;
}
#conteudo{
    height: 590px;
    padding-top: 10px;
    background-color: gray;
}
#mapa{
    height: 300px;
    background-color: darkslategray;
}
#rodape{
    height: 190px;
    padding-top: 10px;
    background-color: gray;
}

.margemE{
    margin-left: 10px;
    float: left;
}

#logo{
    height: 130px;
    width: 200px;
    background-color: yellow;
}
#menu{
    height: 130px;
    width: 860px;
    background-color: yellow;
}
#redessociais{
    height: 130px;
    width: 200px;
    background-color: yellow;
}

.subCont{
    height: 580px;
    width: 420px;
    background-color: yellow;
}

#endereco{
    height: 160px;
    width: 830px;
    background-color: yellow;
    padding: 10px;
}

#redesocialR{
    height: 180px;
    width: 420px;
    background-color: yellow;
}